<!-- content heading -->
<% if (title){ %>
    <h1>
        <%=title %>
    </h1>
    <% } else { res.redirect('/') } %>
        <h2>Welcome <%= accountData.account_firstname %>
        </h2>
        <p>You're logged in</p>
        <p><a href="/account/updateAccount/<%= locals.accountData.account_id %>">Edit account
                information</a></p>
        <% if (locals.accountData.account_type!=="Client" ) { %>
            <h3>Inventory Management</h3>
            <p> <a href="/inv/">Manage Inventory</a> </p>
            <% } %>
                <%- messages() %>