<header id="top-header">
    <div class="siteName">
        <h1><a href="/" title="Return to home page">CSE Motors</a></h1>
    </div>
    <div id="tools">
        <% if (locals.loggedin) { %>
            <% if (locals.accountData) { %>
                <span><a href="https://developer.mozilla.org/en-US/">Welcome</a>, <%= accountData.account_firstname %>
                </span>
                <a title="Click to log out" href="/account/logout"> Logout</a>
                <% } else { %>
                    <span> Welcome, User</span>
                    <a title="Click to log out" href="/account/logout"> Logout</a>
                    <% } %>
                        <% } else { %>
                            <a title="Click to log in" href="/account/login">My Account</a>
                            <% } %>
    </div>
</header>