<nav>
    <ul>
        <li> <a href="#home">Home</a></li>
        <li> <a href="#custom">Custom</a></li>
        <li> <a href="#sedan">Sedan</a></li>
        <li> <a href="#suv">SUV </a></li>
        <li> <a href="#truck">Truck</a></li>
    </ul>
</nav>