<link rel="stylesheet" href="../public/css/styles.css">


<div class="mainContent">
    
    <h1>Welcome to CSE Motors!</h1>
    <img src="/images/vehicles/delorean.jpg" alt="hub-cap" class="image5">
    <p>Delorean Upgrades</p>
    <p>DMC Delorean Reviews</p>
</div>