<!-- content heading -->
<% if (title){ %>
    <h1>
        <%=title %>
    </h1>
    <% } else { res.redirect('/') } %>
    
        
    <!--change this-->
    <%- addClassificationView %> 

        <%- messages() %>