<!-- content heading -->
<% if (title){ %>
    <h1>
        <%=title %>
    </h1>
    <% } else { res.redirect('/') } %>




        <form action="/inv/register/classification" method="post">
            <div class="Form">
                <%- messages() %>
                    <% if (errors) { %>
                        <ul class="notice">
                            <% errors.array().forEach(error=> { %>
                                <li>
                                    <%= error.msg %>
                                </li>
                                <% }) %>
                        </ul>
                        <% } %>
                            <p>Field is required</p>
                            <p>Classification Name</p>
                            <label for="addClassification">Name must be alphabetic characters only.
                                <input id="addClassification" type="text" placeholder="Add Classification"
                                    name="classification_name" minlength="3" pattern="[a-zA-Z\s]+"
                                    value="<%= locals.classification_name %>" required>
                            </label>
                            <button type="submit">Add Classification</button>
        </form>
        </div>