<!-- content heading -->
<% if (title){ %>
    <h1>
        <%=title %>
    </h1>
    <% } else { res.redirect('/') } %>

        <!-- message section -->
        <%#=messages() %>

            <!-- inventory items display -->
            <%- grid %>