<!-- content heading -->
<% if (title){ %>
    <h1>
        <%=title %>
    </h1>
    <% } else { res.redirect('/') } %>

        <%=message %>
            <!-- Image by storyset on Freepik -->
            <a><img class="errImage" src="/images/site/404Camp.jpg" alt="picture of fire"></a>